Package: com.istopped.nlols
Name: No Label On Lock Slider
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: iStopped
Author: iStopped
Section: Tweaks
