Package: com.istopped.twicon
Name: Twicon
Depends: mobilesubstrate , firmware (>= 5.0)
Version: 0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: iStopped
Author: iStopped
Section: Tweaks
